<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="altimeter_origin_offset" value="0 0 0"/>
  	<xacro:property name="altimeter_dimensions" value="0.005 0.005 0.002"/>
  
  	<xacro:property name="imu_origin_offset" value="0 0 0"/>
  	<xacro:property name="imu_dimensions" value="0.005 0.005 0.002"/>

	<!-- Altimeter  -->
	<joint name="altimeter_joint" type="fixed">
		<origin xyz="${altimeter_origin_offset}" rpy="0 0 0"/>
		<parent link="hd_base_link"/>
		<child link="altimeter"/>
	</joint>
	<link name="altimeter">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="${altimeter_dimensions}"/>
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="${altimeter_dimensions}"/>
			</geometry>
		</visual>
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
  	</link>

	<!-- Altimeter plugin -->
	<gazebo>
		<plugin name='altimeter_plugin' filename='libplugin_altimeter.so'>
			<bodyName>altimeter</bodyName>
			<frameId>altimeter</frameId>
			<altimeterTopicName>/human_drone/height</altimeterTopicName>
			<noise>0.0</noise>
		</plugin>
	</gazebo>

	<!-- IMU  -->
	<joint name="imu_joint" type="fixed">
		<origin xyz="${imu_origin_offset}" rpy="0 0 0"/>
		<parent link="hd_base_link"/>
		<child link="imu_link"/>
	</joint>
	<link name="imu_link">
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="${imu_dimensions}"/>
			</geometry>
		</collision>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="${imu_dimensions}"/>
			</geometry>
		</visual>
		<inertial>
			<mass value="1e-5" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
		</inertial>
  	</link> 
	
	<!-- IMU plugin -->
	<gazebo>
		<plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
			<alwaysOn>true</alwaysOn>
			<bodyName>imu_link</bodyName>
			<topicName>/human_drone/imu</topicName>
			<serviceName>imu_service</serviceName>
			<gaussianNoise>0.0</gaussianNoise>
			<updateRate>20.0</updateRate>
		</plugin>
  	</gazebo>
	
	<!-- Flight plugin -->
	<gazebo>
		<plugin name='hd_flight' filename='libplugin_flight.so'>
			<bodyName>hd_base_link</bodyName>
			<imuTopic>/human_drone/imu</imuTopic>
			<rollpitchProportionalGain>10.0</rollpitchProportionalGain>
			<rollpitchDifferentialGain>5.0</rollpitchDifferentialGain>
			<rollpitchLimit>0.5</rollpitchLimit>
			<yawProportionalGain>2.0</yawProportionalGain>
			<yawDifferentialGain>1.0</yawDifferentialGain>
			<yawLimit>1.5</yawLimit>
			<velocityXYProportionalGain>5.0</velocityXYProportionalGain>
			<velocityXYDifferentialGain>2.3</velocityXYDifferentialGain>
			<velocityXYLimit>2</velocityXYLimit>
			<velocityZProportionalGain>5.0</velocityZProportionalGain>
			<velocityZDifferentialGain>1.0</velocityZDifferentialGain>
			<velocityZLimit>-1</velocityZLimit>
			<positionXYProportionalGain>1.1</positionXYProportionalGain>
			<positionXYDifferentialGain>0.0</positionXYDifferentialGain>
			<positionXYIntegralGain>0.0</positionXYIntegralGain>
			<positionXYLimit>5</positionXYLimit>
			<positionZProportionalGain>1.0</positionZProportionalGain>
			<positionZDifferentialGain>0.2</positionZDifferentialGain>
			<positionZLimit>-1</positionZLimit>
			<maxForce>30</maxForce>
			<motionSmallNoise>0.05</motionSmallNoise>
			<motionDriftNoise>0.03</motionDriftNoise>
			<motionDriftNoiseTime>5.0</motionDriftNoiseTime>
		</plugin> 
	</gazebo>

</robot>