<?xml version="1.0"?>
<launch>
  <arg name="scene" default="e_waste"/>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" value="false" />

  <!--Robot description and related parameter files -->
  <arg name="joint_limit_params" value="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <arg name="kinematics_params" value="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <arg name="physical_params" value="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <arg name="visual_params" value="$(find ur_description)/config/ur5/visual_parameters.yaml"/>

  <!-- Controller configuration -->
  <arg name="controller_config_file" value="$(find cobot-description)/config/ur5_gazebo_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
  <arg name="controllers" value="joint_state_controller pos_joint_traj_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" value="joint_group_pos_controller" doc="Controllers that are initally loaded, but not started."/>

  <!-- robot_state_publisher configuration -->
  <arg name="tf_prefix" value="" doc="tf_prefix used for the robot."/>
  <arg name="tf_pub_rate" value="125" doc="Rate at which robot_state_publisher should publish transforms."/>

  <!-- Load urdf on the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find cobot-description)/urdf/ur5.xacro'"/>
  <arg name="load_robot_description" value="false"/>

  <!-- Load controller settings -->
  <rosparam file="$(arg controller_config_file)" command="load"/>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="$(arg tf_pub_rate)" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
  </node>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find ur5_ag95_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find ur5_ag95_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(find ur5_ag95_moveit_config)/launch/moveit_practice.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Start Gazebo and load the empty world if requested to do so -->
  <include file="$(find cobot-env)/launch/cobot-env.launch">
    <arg name="scene" value="$(arg scene)"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find cobot-env)/worlds/custom_empty.world"/>
  </include>

  <!-- Load and start the controllers listed in the 'controllers' arg. -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner"
    args="$(arg controllers)" output="screen" respawn="false" />

  <!-- Load other controllers, but do not start them -->
  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
    args="--stopped $(arg stopped_controllers)" output="screen" respawn="false" />

  <!-- Add table to RViz -->
  <node pkg="cobot-env" type="build_scene.py" name="scene_builder" if="$(eval arg('scene')=='empty_table')"/>
  <node pkg="cobot-env" type="build_e_waste_scene.py" name="scene_builder" if="$(eval arg('scene')=='e_waste')"/>

</launch>
