<?xml version="1.0"?>

<model>
  <name>Ground Custom</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mayank Navneet Mehta</name>
    <email>mehta.mayank860@gmail.com</email>
  </author>

  <description>
	  Model of the ground in custom color.
  </description>
</model>
