<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<arg name="environment" default="e_waste"/>

	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="verbose" default="true"/>
	<arg name="world_name" value="$(find cobot-env)/worlds/e_waste.world" if="$(eval arg('environment')=='e_waste')"/>

	<!-- Launching the world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="verbose" value="$(arg verbose)"/>
	</include>
	
	<group ns="e_waste" if="$(eval arg('environment')=='e_waste')">
    	<param name="table_desc" 
		 	command="$(find xacro)/xacro $(find cobot-env)/urdf/e-waste-setup.xacro" />

		<node name="spawn_table" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model table -param table_desc -z 0.93"/>
		
		<param name="human_drone_desc" 
		 	command="$(find xacro)/xacro $(find cobot-env)/urdf/human_drone.xacro" />

		<node name="spawn_human_drone" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model human_drone -param human_drone_desc -x 0.6 -y 0.8 -z 1.15"/>
	</group>
	
</launch>
